* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: var(--blue-background);
}

p {
  font-size: 16px;
}

button {
  cursor: pointer;
  border: none;
}

a,
a:visited, 
a:link, 
a:active {
  text-decoration: none;
  color: var(--light-font);
}

a:hover {
  text-decoration: underline;
}