.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  padding: 15px 0 15px 0;
  background-color: var(--light-blue);
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  width: 86%;
  margin: 0 auto;
}