.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 15px 0;
  margin-bottom: 80px;
  background-color: var(--light-blue);
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  width: 86%;
}